/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-dic-2018, 13:53:44
    Author     : Los Prieto
*/
/* Always set the map height explicitly to define the size of the div
             * element that contains the map. */
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    margin: 0;
    padding: 0;
}
#map{
    height: 90%;
    width: 100%;
    position: absolute;
    bottom: 0;
}
#prueba{
    background-color: #ccccff;
}



.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: max-content;
    overflow-y: scroll;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: 500px;
    cursor: pointer;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
}

.dropdown-content div:hover {background-color: #ddd;}

.show {display: block;}

#dropdown-llegadas{
    display: none;
}