/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-ene-2019, 22:47:42
    Author     : Los Prieto
*/

header{
    position: relative;
    z-index: 1000;
    top: 0;
    height: 115px;
    width: 100%;
    background-image: linear-gradient(70deg,black, #085DFB, #0BB9FD,#0BB9FD,#0B8CFD, #085DFB,#08AEFB);
}

#imagenFondo{
    background-image: url("../resources/fondoBanco3azul.png");
    background-size:100% 100%;
    background-position-x: 30%;
    width: 30%;
    height: 100%;
}

#botonSiguiente{
    margin-top: 50px !important;
}

.error-feedback{
    animation: Error 0.35s linear;
}
.error-input{
    animation: ErrorInput 0.35s linear;
}

#carga{
    display: none;
    position: absolute;
    top: 48%;
    right: 48%;
    width: 6rem; height: 6rem;
    z-index: 999;
}

.oculto{
    display: none;
}


/* SOBREESCRITURA DE JQUERY UI*/
.ui-tabs .ui-tabs-nav li{
    border-bottom-width: 1px;
    margin-bottom: 5px;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active{
    margin-bottom: 5px;    
}

.ui-state-hover{
    border: 1px solid blue !important;
}


.container{
    margin-top: 50px;
}


/* TOAST BOOTSTRAP */

#mensajes{
    position: fixed;
    right: 50px;
    min-height: 200px;
    min-width: 200px;
    margin-top: 50px;
}

#mensajes .toast{
    position: relative;
    margin-top: 100%;
    transition: 0.6s;
}

.toast-añadido .toast-header{
    background-color: rgba(47,228,29,0.5);
}

.toast-añadido #toast-cuerpo{
    background-color: rgba(47,228,29,0.2);
}

.toast-retirado .toast-header{
    background-color: rgba(227,7,7,0.5);
}

.toast-retirado #toast-cuerpo{
    background-color: rgba(227,7,7,0.2);
}

#toast-titulo{
    color: black !important;
}
/* MODAL BOOTSTRAP */
.modal{
    top: 30%;
}

#modal-cierreCuenta .modal-dialog{
    max-width: 600px;
}

#errorAlert{
    opacity: 0;
    display: none;
    transition: 1s;
}