/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-ene-2019, 22:47:42
    Author     : Los Prieto
*/

.oculto{
    display: none;
}

.ui-tabs .ui-tabs-nav li{
    border-bottom-width: 1px;
    margin-bottom: 0.65%;
}
