/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-ene-2019, 22:47:42
    Author     : Los Prieto
*/
body * input{
    background: linear-gradient(-45deg,#1abc9c,#2ecc71,#3498db,#9b59b6,#16a085,#27ae60,#2980b9,#8e44ad,#f1c40f,#e67e22,#95a5a6);
    background-size: 1100% 100%;
    border-radius: 10px !important;
    -webkit-animation: Gradient 30s linear infinite;
    -moz-animation: Gradient 30s linear infinite;
    animation: Gradient 30s linear infinite;

}
#prueba{
    display: inline-block;
    position: absolute;
    width: 200px;
    height: 200px;
    background-size: 500% 500%;
    border-radius: 100%;
    background: radial-gradient(circle,#1abc9c,#2ecc71,#3498db,#9b59b6,#16a085,#27ae60,#2980b9,#8e44ad,#f1c40f,#e67e22,#95a5a6);
    animation: Prueba 4s linear infinite;
}
@-webkit-keyframes Gradient {
    0% {
        background-position:0 50%;
    }
    50% {
        background-position:100% 50%;
    }
    100% {
        background-position:0 50%;
    }
}
@-moz-keyframes Gradient {
    0% {
        background-position:0 50%;
    }
    50% {
        background-position:100% 50%;
    }
    100% {
        background-position:0 50%;
    }
}
@keyframes Gradient {
    0% {
        background-position:0 50%;
        border-radius: 20px !important;
    }
    50% {
        background-position:100% 50%;
        border-radius: 10px !important;
    }
    100% {
        background-position:0 50%;
        border-radius: 1px !important;
    }
}

@keyframes Prueba {
    0% {
        background-size: 0% 0%;
        transform: rotate(0deg);
        background-position:0% 0%;
        left: 50%;
        top: 0%;
    }
    25% {
        top: 50%;
        left: 0%;
    }
    50% {
        background-size: 100% 100%;
        background-position:100% 0%;
        left: 50%;
        top: 95%;
    }
    75%{
        left: 98%;
        top: 50%;
    }
    100% {
        background-size: 0% 0%;
        transform: rotate(1080deg);
        background-position:0% 0%;
        left: 50%;
        top: 0%;
    }
}
.oculto{
    display: none;
}

.ui-tabs .ui-tabs-nav li{
    border-bottom-width: 1px;
    margin-bottom: 5px;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active{
    margin-bottom: 5px;    
}