/* The side navigation menu */
#sidenav {
    height: 100%; /* 100% Full-height */
    width: 0.1px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #cccccc; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
#sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: default;
}

/* When you mouse over the navigation links, change their color */
#sidenav a:hover {
    color: #f1f1f1;
    /*background: linear-gradient(-45deg,#1abc9c,#2ecc71,#3498db,#9b59b6,#16a085,#27ae60,#2980b9,#8e44ad,#f1c40f,#e67e22,#95a5a6);*/
    background: linear-gradient(-45deg, #159957, #155799,#159957, #155799,#159957, #155799,#159957, #155799); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 1100% 100%;
    -webkit-animation: Gradient 12s linear infinite;
    -moz-animation: Gradient 12s linear infinite;
    animation: Gradient 12s linear infinite;
}

#sidenav #home{
    height: 100px;
    color: white !important;
    background: linear-gradient(-45deg,#1abc9c,#2ecc71,#3498db,#9b59b6,#16a085,#27ae60,#2980b9,#8e44ad,#f1c40f,#e67e22,#95a5a6);
    background-size: 1100% 100%;
    -webkit-animation: Gradient 15s linear infinite;
    -moz-animation: Gradient 15s linear infinite;
    animation: Gradient 15s linear infinite;
    margin-bottom: 80px;
    font-size: 48px;
}

#sidenav #activo{
    background-color: #00cc99 !important;
}

/* Position and style the close button (top right corner) */
#sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#flecha{
    position: fixed;
    left: 15px;
    font-size: 48px;
    height: 50%;
    bottom: 0;
}